{
    "Calender":{
        "AnyNameHere":{
            "URL":"https://calendar.com/example.ics",
            "FixApple":false
        },
        "IMeanAnything":{
            "URL":"https://calendar.com/sample.ics",
            "FixApple":false
        }
    },
    "WeatherAPI":{
        "Key":"PutYoKeyHere"
    }
}